.login-container {
    background-color: yellow;
    width: 100%;
}

.upper {
    padding-bottom: 1rem;
}

.facebook-login {
    background-color: rgb(56, 97, 230);
}

.facebook-logo {
    padding-right: 0.5rem;
    fill: white;
    stroke: white;
}
