.App {
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 1em;
    &:focus {
        outline: none;
    }
}

input {
    border: none;
    &:focus {
        outline: none;
    }
}

.flex {
    display: flex;

    &-container {
        height: 100vh;
        width: 100%;
    }
    &-v-center {
        align-items: center;
    }
    &-v-start {
        align-items: start;
    }
    &-h-center {
        justify-content: center;
    }
    &-h-start {
        justify-content: start;
    }
    &-col {
        flex-direction: column;
    }
}

.h {
    &-half {
        height: 50%;
    }
    &-three-quart {
        height: 75%;
    }
    &-quarter {
        height: 25%;
    }
    &-90 {
        height: 90%;
    }
}

.w {
    &-half {
        width: 50%;
    }
    &-three-quart {
        width: 75%;
    }
    &-quarter {
        width: 25%;
    }
    &-90 {
        height: 90%;
    }
}

.p {
    // Right
    &r-1 {
        padding-right: 0.25rem;
    }
    &r-2 {
        padding-right: 0.5rem;
    }
    &r-3 {
        padding-right: 0.75rem;
    }
    &r-4 {
        padding-right: 1rem;
    }
    &r-5 {
        padding-right: 1.25rem;
    }
    &r-6 {
        padding-right: 1.5rem;
    }
    // Left
    &l-1 {
        padding-left: 0.25rem;
    }
    &l-2 {
        padding-left: 0.5rem;
    }
    &l-3 {
        padding-left: 0.75rem;
    }
    &l-4 {
        padding-left: 1rem;
    }
    &l-5 {
        padding-left: 1.25rem;
    }
    &l-6 {
        padding-left: 1.5rem;
    }
    // Bottom
    &b-1 {
        padding-bottom: 0.25rem;
    }
    &b-2 {
        padding-bottom: 0.5rem;
    }
    &b-3 {
        padding-bottom: 0.75rem;
    }
    &b-4 {
        padding-bottom: 1rem;
    }
    &b-5 {
        padding-bottom: 1.25rem;
    }
    &b-6 {
        padding-bottom: 1.5rem;
    }
}
